.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  color: #000;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
}

.nav-list {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

.nav-item {
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 50px;
  width: 200px;
  background-color: #ede7e7;
}

.search-input {
  border: none;
  background-color: transparent;
}

.search-icon-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.search-icon {
  border: none;
  width: 20px;
  height: 20px;
}

.book-now-button {
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
