.footerContainer {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  margin: 20px;
  background-color: #ecedf0;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.footerTitle {
  font-size: 24px;
  text-decoration: underline;
  font-weight: 600;
  color: #000;
}

.footerInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  color: #000;
  background-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(181, 84, 84, 0.1);
}

.footerInput:focus {
  outline: none;
  border-color: #b63065;
}

.footerButton {
  background: linear-gradient(to right, #b63065, #2d802d);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.footerButton:hover {
  transform: scale(0.9);
}

.textarea {
  min-height: 100px;
  resize: vertical;
}

.textarea:focus {
  outline: none;
  border-color: #b63065;
}
