.hero-section {
  position: relative;
  color: #fff;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.hero-section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.hero-section-content-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.3),
    transparent
  );
  border-radius: 10px;
}

.hero-section-content-overlay h1 {
  font-size: 100px;
  font-weight: bold;
}

.hero-section-content-overlay span {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-section-content-overlay-buttons {
  display: flex;
  gap: 10px;
}

.hero-section-content-overlay button {
  padding: 12px 24px;
  font-size: 14px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.hero-section-content-overlay button:hover {
  background-color: #ea7f75;
}
