.about-section {
  display: flex;
  flex-direction: row;
  margin: 10px;
  height: 400px;
}

.about-left-section {
  width: 70%;
  padding: 40px;
}

.about-left-section-content {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

span {
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

ul li {
  list-style: none;
}

img {
  object-fit: contain;
  width: 20px;
  height: 20px;
}

.about-left-section-content-item {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
}

h6 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

span {
  font-size: 16px;
  margin-bottom: 10px;
}

.about-left-section-content-item-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.about-right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 50px;
}

.about-right-section-item {
  display: flex;
  padding-left: 10px;
  flex-direction: row;
  align-items: center;
  background-color: #8d9daf;
  color: #f3eeee;
  gap: 10px;
  border-radius: 10px;
}

.about-right-section-item-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.about-right-section-item-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
  object-position: center;
  object-fit: cover;
  object-position: center;
}
