* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#root {
  height: 100vh;
  width: 100%;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.login-btn {
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #ccc;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.login-btn:hover {
  background-color: #524c4c;
  opacity: 0.8;
}
