:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 50px;
  text-align: center;
}

.circle {
  background-color: cadetblue;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.loading {
  background-color: cadetblue;
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  transform-origin: left; /* ⭐️ This is the key */
}
